.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: red;
}

.container-content {
  background-color: blue;
}

/*
MainContainer
-very light background color

Navbar
-black or very dark color
-name, then the various pages as button links aligned to the right

NavbarButtons
-white text, invisible background
-grow effect on hover over button; text gets bigger
-on click: on the current page, they get a white underline

ContainerContent
-fades in on start to about page: features picture and content in columns
-each component of content follows this order

*/